<h3> Comments</h3>
<% @affiliate.comments.each do |comment| %>
    <div class="well">
        <%= link_to '[X]', [comment.affiliate, comment],
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %> </p>
        <p> <strong><%= comment.username %> </strong>: <%= comment.body %> </p>
    </div>
<% end %>
