
<div class="row ml-0">    
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563053764-85dbf278c408?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Body </strong> </h1>
            <p class="text-center">Find the products your body needs</p>
        </div>    
        <div class="container">
                <div class="select-box">
                    <div class="options-container">
                    <div class="option">
                        <input
                        type="radio"
                        class="radio"
                        id="automobiles"
                        name="category"
                        />
                        <label for="automobiles">Vitamins</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="film" name="category" />
                        <label for="film">Diet Programs</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="science" name="category" />
                        <label for="science"> Aroma Therapy</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="art" name="category" />
                        <label for="art">Teas</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="music" name="category" />
                        <label for="music">Cosmetic</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="travel" name="category" />
                        <label for="travel">Travel & Events</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="sports" name="category" />
                        <label for="sports">Sports</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="news" name="category" />
                        <label for="news">News & Politics</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="tutorials" name="category" />
                        <label for="tutorials">Tutorials</label>
                    </div>
                    </div>

                    <div class="selected">
                    Select From Body Category
                    </div>
                </div>          
           
        </div>
    </div>


    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526367021122-ad6dd486f9b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Mind</strong> </h1>
            <p class="text-center">Find the products your mind needs</p>
        </div>
             <div class="container">
                <div class="select-box">
                    <div class="options-container">
                    <div class="option">
                        <input
                        type="radio"
                        class="radio"
                        id="automobiles"
                        name="category"
                        />
                        <label for="automobiles">Automobiles</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="film" name="category" />
                        <label for="film">Film & Animation</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="science" name="category" />
                        <label for="science">Science & Technology</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="art" name="category" />
                        <label for="art">Art</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="music" name="category" />
                        <label for="music">Music</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="travel" name="category" />
                        <label for="travel">Travel & Events</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="sports" name="category" />
                        <label for="sports">Sports</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="news" name="category" />
                        <label for="news">News & Politics</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="radio" id="tutorials" name="category" />
                        <label for="tutorials">Tutorials</label>
                    </div>
                    </div>

                    <div class="selected">
                    Select Video Category
                    </div>
                </div>  
            </div>
    </div>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Spirit </strong> </h1>
            <p class="text-center">Find the products your spirit needs</p>
        </div>
        <div class="container">
            <div class="select-box">
                <div class="options-container">
                <div class="option">
                    <input
                    type="radio"
                    class="radio"
                    id="automobiles"
                    name="category"
                    />
                    <label for="automobiles">Automobiles</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="film" name="category" />
                    <label for="film">Film & Animation</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="science" name="category" />
                    <label for="science">Science & Technology</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="art" name="category" />
                    <label for="art">Art</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="music" name="category" />
                    <label for="music">Music</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="travel" name="category" />
                    <label for="travel">Travel & Events</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="sports" name="category" />
                    <label for="sports">Sports</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="news" name="category" />
                    <label for="news">News & Politics</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="tutorials" name="category" />
                    <label for="tutorials">Tutorials</label>
                </div>
                </div>

                <div class="selected">
                Select Video Category
                </div>
            </div>
        </div>
    </div>
</div>  
<%# <script> import from ('../search/searchr.js'); </script> %>
<script>
const selected = document.querySelector(".selected");
const optionsContainer = document.querySelector(".options-container");

const optionsList = document.querySelectorAll(".option");

selected.addEventListener("click", () => {
  optionsContainer.classList.toggle("active");
});

optionsList.forEach(o => {
  o.addEventListener("click", () => {
    selected.innerHTML = o.querySelector("label").innerHTML;
    optionsContainer.classList.remove("active");
  });
});
</script>