<h1> This is Mind page </h1>
<div class="banner2" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526367021122-ad6dd486f9b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80); ">
        <div class="container2">
            <h1 class="text-center">Healthy<strong> Mind </strong> </h1>
            <p class="text-center">Find the products your mind needs</p>
        </div>    
</div>